/bin
/build
/app/.externalNativeBuild
/app/build
/app/release
/app/src/main/libs
/app/src/main/obj
/app/app-release.apk
/app/manifest-merger-release-report.txt
/app/fabric.properties
/appstore/build
/obj
/libs
/gen
.DS_Store
.externalToolBuilders
.gradle
.signing/
.idea/libraries/
.idea/caches/
.idea/inspectionProfiles/
.idea/workspace.xml
.idea/tasks.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/runConfigurations.xml
*.iml
local.properties
*.swp
local_db.bin
