<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.puder.trs80">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".TRS80Application"
        android:allowBackup="false"
        android:requestLegacyExternalStorage="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".EditConfigurationActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".EmulatorActivity"
            android:theme="@style/AppThemeDark"/>
        <activity android:name=".browser.FileBrowserActivity" />
        <activity android:name=".CreateDiskActivity"
            android:configChanges="orientation|screenSize"/>
        <activity android:name="org.retrostore.android.RetrostoreActivity"
                  android:label="@string/retrostore_activity_name"/>
    </application>

</manifest>
